        body{
            background-color: antiquewhite;
        }

        #container{
            width: 80%;
            margin: 24px auto;
            text-align: center;
              }

        .sub-title{
            font-size: 32px;
            font-family: '微軟正黑體', '標楷體', '新細明體';
            display: inline-block;
            border-radius: 12px;
            text-align: center;
            padding: 6px;
            margin: 12px ;
            background-color: aquamarine;
            color: rgb(221, 144, 1);
        }
        
        .title{
            font-size: 2em;
            color: rebeccapurple;
            background-color: rgb(231, 135, 18);
            margin: 50px 30px 20px 10px;
            border: 6px dotted black;
            border-radius: 12px;

        }

        .block1{
            background-color: aquamarine;
            color: blueviolet;
            padding: 12px;
            border: 2px solid green;
            border-radius: 12px;
        }
        .text-1{
            padding: 12px;
            margin: 24px;
        }

        .text-2{
            background-color: black;
            color: azure;
            padding: 6px;
            font-size: 16px;
            text-align: center;
            border-radius: 16px;
            width: 50%;
            margin: 0px auto;
        }
        .text-3 li {
            margin-left: 28px;
        }

        #block2 {
            width: 100%;
            text-align: center;
        }
        #block2 img {
            height: 200px;
            width: 28%;
            border-radius: 16px;         
        }
        img{
            background-color: white;
            padding: 6px;
            border-radius: 3px;
        
        }

        a{
            text-decoration: none;
            
        }

        a{
            color: black;
        }

        li a:hover{
            color: blue;

        }

        a:visited{
            color: grey;
        }
        #table-1{
            width: 80%;
            margin: 0px auto;
            height: 200px;
        }

        #table-1 th{
            background-color: darkblue;
            color: white;
        }

        /* #table-1 td :first-child{
            background-color: aliceblue;
            font-size: large;
            text-align: center;
        } */

        #table-1 td:nth-child(even){
            background-color: yellow;
        }
        
        .video{
            width: 100%;
        }


        #block3{
            width: 80%;
            text-align: center;
            margin: 0 auto;
        }

        form{
            background-color: orange;
            padding: 24px 0px;
        }

        button{
            background-color: lightpink;
            width: 100px;
            border-radius: 6px;
        }

        textarea{
            width: 70%;
        }

        .a-test{
            padding: 12px;
            border: 2px black solid;
            background-color: yellow;
            display: block;

        }

